.navbar {
  background-color:rgba(219, 240, 250, 0.349);
  padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; /* Added */
    font-family: "Arial", sans-serif; 

  }
  
  .navbar-logo {
    font-size: 24px;
    margin-right: auto;
    color:#079280;
    padding-left: 10px;
    font-weight:700;

  }
  
  .navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Updated */
    align-items: center; /* Added */
    padding: 0;
    margin-right: 10%;
  }
  
  .navbar-item {
    margin: 0 10px; /* Updated */
    font-size: 14px;
    cursor: pointer;
    padding-left: 10px;
    color: gray;
    font-weight:bold;

  }
  .nav-button {
    background-color: #0dabd3;
    color: #FFFF;
    padding:8px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 2rem;
  }
  
  .navbar-item:hover {
    color: rgb(37, 172, 172);
    font-weight:600;
  }
  @media (max-width: 768px) {
    .navbar-item {
      margin: 0 10px; /* Updated */
      font-size: 10px;
      cursor: pointer;
      padding-left: 10px;
      color: gray;
      font-weight:bold;
  
    }
    .navbar-logo {
      font-size: 14px;
      margin-right: auto;
      color:#079280;
      padding-left: 30%;
      font-weight:700;
  
    }
    .nav-button{
      visibility: hidden;
    }
  }


  